In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

### Constructor Wins Collection

In [20]:
#get constructor data
url = "https://en.wikipedia.org/wiki/List_of_Formula_One_Grand_Prix_winners_(constructors)"
html = urlopen(url)

In [21]:
soup = BeautifulSoup(html, 'lxml')

In [111]:
print(soup.title)

<title>List of Formula One Grand Prix winners (constructors) - Wikipedia</title>

In [201]:
#find the table we are working with
constructor_table = soup.find("table",{"class":"sortable wikitable plainrowheaders"})

In [146]:
Constructor=[]
Country=[]
#First_Win=[]
#Last_Win=[]

for row in constructor_table.findAll('tr'):
        cells=row.findAll('a')
        if len(cells)>1:
            Constructor.append(cells[0].find(text=True))
            Country.append(cells[1].find(text=True))
            #First_Win.append(cells[3].find(text=True))
            #Last_Win.append(cells[4].find(text=True))

In [203]:
print(Constructor)

['Ferrari', 'McLaren', 'Williams', 'Mercedes', 'Team Lotus', 'Red Bull', 'Brabham', 'Renault', 'Benetton', 'Tyrrell', 'BRM', 'Cooper', 'Alfa Romeo', 'Maserati', 'Vanwall', 'Matra', 'Ligier', 'Brawn', 'Kurtis Kraft', 'Jordan', 'Watson', 'March', 'Wolf', 'Honda', 'Epperly', 'Lotus F1', 'Kuzma', 'Porsche', 'Eagle', 'Hesketh', 'Penske', 'Shadow', 'Stewart', 'BMW Sauber', 'Toro Rosso']

In [204]:
#rank and wins are a different tag type
Rank=[]
Wins=[]

for row in constructor_table.findAll('tr'):
        cells=row.findAll('td')
        if len(cells)>1:
            Rank.append(cells[0].find(text=True))
            Wins.append(cells[2].find(text=True))

In [191]:
#extract numbers from scrapped data
import re 
Wins=re.findall('\d+', str(Wins))
Rank=re.findall('\d+', str(Rank))

In [194]:
F1_Constructor_Table = pd.DataFrame()
F1_Constructor_Table["Rank"] = Rank
F1_Constructor_Table["Constructor"] = Constructor
F1_Constructor_Table["Country"] = Country
F1_Constructor_Table["Wins"] = Wins

In [195]:
F1_Constructor_Table

   Rank   Constructor         Country Wins
0     1       Ferrari           Italy  238
1     2       McLaren  United Kingdom  182
2     3      Williams  United Kingdom  114
3     4      Mercedes         Germany  103
4     5    Team Lotus  United Kingdom   79
5     6      Red Bull         Austria   62
6     7       Brabham  United Kingdom   35
7     7       Renault          France   35
8     9      Benetton  United Kingdom   27
9    10       Tyrrell  United Kingdom   23
10   11           BRM  United Kingdom   17
11   12        Cooper  United Kingdom   16
12   13    Alfa Romeo           Italy   10
13   14      Maserati           Italy    9
14   14       Vanwall  United Kingdom    9
15   14         Matra             FRA    9
16   14        Ligier             FRA    9
17   18         Brawn  United Kingdom    8
18   19  Kurtis Kraft   United States    5
19   20        Jordan         Ireland    4
20   21        Watson   United States    3
21   21         March  United Kingdom    3
22   21          Wolf          Canada    3
23   21         Honda           Japan    3
24   25       Epperly   United States    2
25   25      Lotus F1  United Kingdom    2
26   27         Kuzma   United States    1
27   27       Porsche         Germany    1
28   27         Eagle   United States    1
29   27       Hesketh  United Kingdom    1
30   27        Penske   United States    1
31   27        Shadow  United Kingdom    1
32   27       Stewart  United Kingdom    1
33   27    BMW Sauber         Germany    1
34   27    Toro Rosso           Italy    1

In [200]:
F1_Constructor_Table.to_csv("F1_constructor_table.csv",index=False)

### Driver Data Collection
Collect data on the best drivers of the last 70 years